* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;  
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f6f6;
            line-height: 0.6;
        }

        .navlinks {
            position: fixed;
            width: 100%; 
            background:rgb(0, 0, 0);
            display:flex;
            flex-direction:row;
            justify-content:start;
            align-items: start;
            gap: 10px;
            padding:18px 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index:1000;
            transition:  0.3s ;
        }
        

        .navlinks a {
            display: inline-block;
            width:40px;
            height:5px;
            background: #000000;
            color: rgb(255, 254, 254);
            text-decoration: none;
            transition: 0.3s;
            list-style: none;
            border-radius: 5%;
            gap: 15px;
        }

        .side-bar a:hover {
            transform: scale(1.1);
        
        }

        .facebook:hover {
            background-color: #1877F2;
        }

        .instagram:hover {
            background-color: #E4405F;
        }

        .twitter:hover {
            background-color: black;
        }

        .whatsapp:hover {
            background-color: #25D366;
        }
        .search:hover {
            background-color: #d9d2d2;
        }
     .search-box {
             display: inline-block;
             justify-content:end;
             align-items: center;
}







 