      * {
        
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }  
         
        body {
            font-family: oswald, open Sans;
           
        }

        .navbar{
            background-color: black;
            width:100%;
            padding:0px 0px;
            position: fixed;
            top: 0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            z-index:1000;
        }
        .icons a ,
        .search-icon a {
            color:white;
            text-decoration: none;
            font-size: 20px;
            padding:12px 15px;
            display:inline-block;
        }
        .icons a:hover,
        .search-icon a:hover {
            background-color: #ccc;
            color: black;
        }
        .hero {
           font-family: oswald;
           background-color: #ffffff;
           text-align:center;
           padding:80px 20px;
           display:flex;
           flex-direction:column;
           justify-content:center;

        }
        .hero h1{
            font-size: 48px;
            margin-bottom: 5px;
            line-height: 72px;
            font-weight: bold;  
        }
        .hero p{
            font-size: 18px;
            line-height: 28px;
        }
        .hero span{
            background-color:black;
            line-height: 24px;
            color:white;
            padding:4px 8px;
            font-size: 14px;
        }
        .hero image{
            width: 100%;
            height: auto;
            position:relative;
        }
        .hero image img{
            width: 100%;
            height: auto;
            display:block;
        }
        .hero-text {
            position:absolute;
            font-size: oswald;
            transform: none;
            top: 50%;
            left: 0%;
            color:white;
            text-align:left;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            align-items: flex-start;
            

        }
        .hero-text h2{
            font-size:40px;
            font-weight: 200;
            line-height:54px;
            box-sizing:border-box;
            letter-spacing:4px;
            margin:5px 5px;

        }
        .hero-text h3{
            font-size: 60px;
            font-weight:500px;
            letter-spacing:4px;
            list-style:72px;
            margin:5px 5px;
        }
        .subscribe-btn {
         background-color: #cccccc;
         color: black;
         opacity: 70%;  
         border: none;
         vertical-align: left;
         text-align:left;
         line-height: 27px;
         font-size: 18px;
         font-family: Oswald;
         white-space: nowrap;
         padding: 12px 24px; 
         cursor: pointer;
         display: inline-block;
         overflow: hidden;
         box-sizing: border-box;
         margin: 5px 5px;
        }

        .subscribe-btn:hover {
         background-color: #cccccc;
        capacity: 100%;
         color: rgb(0, 0, 0);
        }








        

        
